[run]
branch = false

[report]
include =
    **/tetris/**

omit =
     **/wrappers/**
     **/factory.py

exclude_lines =
    pragma: no cover
    def __repr__
    NotImplementedError

[html]
directory = coverage_report
